---
layout: default
title: My Errors
description: "Here is the list of errors I made previously. I made this for a quick refernce stuff, a documentation for each error. I have also linked the code from github main branch. "
---

<div class="post-list">
{% assign error_posts = site.posts | where: "type", "error" %}
{% if error_posts.size == 0 %}
  <p class="post-list__empty">No error posts yet.</p>
{% endif %}
{% for post in error_posts %}
  <a class="post-card" href="{{ post.url | prepend: site.baseurl }}">
    <div class="post-card__meta">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b %Y" }}</time>
      {% for tag in post.tags %}<span class="post-card__tag">#{{ tag }}</span>{% endfor %}
    </div>
    <div class="post-card__title">{{ post.title }}</div>
    {% if post.description %}<div class="post-card__desc">{{ post.description }}</div>{% endif %}
  </a>
{% endfor %}
</div>
